Makefile
moc*
*moc
*.o
flow
*.pro.user
qrc*cpp
*so
.directory
.qmake.cache
CMakeFiles
*.cmake
*automoc*
CMakeCache.txt
install.sh
config.log
config.tests/qwebdavlib/qwebdavlib
build_dir-android
build_dir-blackberry
tests/tests
data.dat
*~
/android-build
/src/android-libflow.so-deployment-settings.json
app_process
