Makefile
moc*
*moc
*.o
flow
*.pro.user
qrc*cpp
*so
.directory
.qmake.cache
CMakeFiles
*.cmake
*automoc*
CMakeCache.txt
install.sh
config.log
build_dir-android
tests/tests
data.dat
*~
/android-build
/src/android-libflow.so-deployment-settings.json
app_process
/build-tests*
flow.exe*
flow.ilk
flow.pdb
Makefile*
build-src*
/cov-int
/plugins/*.a
*.lib
release/
*.exp
/src/flow_plugin_import.cpp
/src/flow_qml_plugin_import.cpp
/distros/archlinux/src/
/distros/archlinux/pkg/
/distros/archlinux/*.zip
/distros/archlinux/*.xz
/src/object_script.flow.*
*.dll
*.zip
/build
*.dylib
*.qmake.stash
flow.app
*.Debug
*.Release
lib*.a
.DS_Store
/tests/unit-test-settings.ini
*.qrc.depends
install_manifest.txt
target_wrapper.bat
tests.exe
/tests/target_wrapper.sh