Makefile
moc*
*moc
*.o
flow
*.pro.user
qrc*cpp
*so
.directory
.qmake.cache
CMakeFiles
*.cmake
*automoc*
CMakeCache.txt
install.sh
config.log
config.tests/qwebdavlib/qwebdavlib
build_dir-android
tests/tests
